<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Balance Over Time</h3>
<p>Buy anything you want with this extra money.</p>
<p>Record your purchases and wish list below.</p>
<div id="vis"><img src="{{ url_for('static', filename=data['filename']) }}"</div>
<h3>Balance Today: ${{data['funds_as_of_today']|round}}</h3>
<h3>Record All Your Purchases for the Month</h2>

<form action="/load-month" method="POST">
  <label for="year-selector1">Year: </label><select name="year-selector1" id="year-selector1">
    {% if data['year'] == '2021' %}
      <option value="2021" selected>2021</option>
    {% else %}
      <option value="2021">2021</option>
    {% endif %}
  </select>
<label for="month-selector1">Month: </label><select name="month-selector1" id="month-selector1">
  {% if data['month'] == '01' %}
    <option value="01" selected>January</option>
  {% else %}
    <option value="01">January</option>
  {% endif %}
  {% if data['month'] == '02' %}
    <option value="02" selected>February</option>
  {% else %}
    <option value="02">February</option>
  {% endif %}
  {% if data['month'] == '03' %}
    <option value="03" selected>March</option>
  {% else %}
    <option value="03">March</option>
  {% endif %}
  {% if data['month'] == '04' %}
    <option value="04" selected>April</option>
  {% else %}
    <option value="04">April</option>
  {% endif %}
  {% if data['month'] == '05' %}
    <option value="05" selected>May</option>
  {% else %}
    <option value="05">May</option>
  {% endif %}
  {% if data['month'] == '06' %}
    <option value="06" selected>June</option>
  {% else %}
    <option value="06">June</option>
  {% endif %}
  {% if data['month'] == '07' %}
    <option value="07" selected>July</option>
  {% else %}
    <option value="07">July</option>
  {% endif %}
  {% if data['month'] == '08' %}
    <option value="08" selected>August</option>
  {% else %}
    <option value="08">August</option>
  {% endif %}
  {% if data['month'] == '09' %}
    <option value="09" selected>September</option>
  {% else %}
    <option value="09">September</option>
  {% endif %}
  {% if data['month'] == '10' %}
    <option value="10" selected>October</option>
  {% else %}
    <option value="10">October</option>
  {% endif %}
  {% if data['month'] == '11' %}
    <option value="11" selected>November</option>
  {% else %}
    <option value="11">November</option>
  {% endif %}
  {% if data['month'] == '12' %}
    <option value="12" selected>December</option>
  {% else %}
    <option value="12">December</option>
  {% endif %}
</select>
<button type="submit" class="btn btn-info", value="Submit">Load Month</button>
</form>
<form action="/save-changes" method="POST">
<input hidden type="text" name="month-selector" id="month-selector" placeholder="" value="{{data['month']}}">
<input hidden type="text" name="year-selector" id="year-selector" placeholder="" value="{{data['year']}}">
<button type="submit" class="btn btn-success", value="Submit">Save Changes</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Day #</th>
      <th scope="col">Purchase</th>
      <th scope="col">Cost</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">1</th>
        <td><input type="text" name="date1" id="date1" placeholder="" value="{{data['date1']}}"><br></td>
        <td><input type="text" name="purchase1" id="purchase1" placeholder="" value="{{data['purchase1']}}"><br></td>
        <td><input type="text" name="cost1" id="cost1" placeholder="" value="{{data['cost1']}}"><br></td>
        <td><select name="category1" id="category1">
          {% if data['category1'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category1'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">2</th>
        <td><input type="text" name="date2" id="date2" placeholder="" value="{{data['date2']}}"><br></td>
        <td><input type="text" name="purchase2" id="purchase2" placeholder="" value="{{data['purchase2']}}"><br></td>
        <td><input type="text" name="cost2" id="cost2" placeholder="" value="{{data['cost2']}}"><br></td>
        <td><select name="category2" id="category2">
          {% if data['category2'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category2'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">3</th>
        <td><input type="text" name="date3" id="date3" placeholder="" value="{{data['date3']}}"><br></td>
        <td><input type="text" name="purchase3" id="purchase3" placeholder="" value="{{data['purchase3']}}"><br></td>
        <td><input type="text" name="cost3" id="cost3" placeholder="" value="{{data['cost3']}}"><br></td>
        <td><select name="category3" id="category3">
          {% if data['category3'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category3'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">4</th>
        <td><input type="text" name="date4" id="date4" placeholder="" value="{{data['date4']}}"><br></td>
        <td><input type="text" name="purchase4" id="purchase4" placeholder="" value="{{data['purchase4']}}"><br></td>
        <td><input type="text" name="cost4" id="cost4" placeholder="" value="{{data['cost4']}}"><br></td>
        <td><select name="category4" id="category4">
          {% if data['category4'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category4'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">5</th>
        <td><input type="text" name="date5" id="date5" placeholder="" value="{{data['date5']}}"><br></td>
        <td><input type="text" name="purchase5" id="purchase5" placeholder="" value="{{data['purchase5']}}"><br></td>
        <td><input type="text" name="cost5" id="cost5" placeholder="" value="{{data['cost5']}}"><br></td>
        <td><select name="category5" id="category5">
          {% if data['category5'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category5'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">6</th>
        <td><input type="text" name="date6" id="date6" placeholder="" value="{{data['date6']}}"><br></td>
        <td><input type="text" name="purchase6" id="purchase6" placeholder="" value="{{data['purchase6']}}"><br></td>
        <td><input type="text" name="cost6" id="cost6" placeholder="" value="{{data['cost6']}}"><br></td>
        <td><select name="category6" id="category6">
          {% if data['category6'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category6'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">7</th>
        <td><input type="text" name="date7" id="date7" placeholder="" value="{{data['date7']}}"><br></td>
        <td><input type="text" name="purchase7" id="purchase7" placeholder="" value="{{data['purchase7']}}"><br></td>
        <td><input type="text" name="cost7" id="cost7" placeholder="" value="{{data['cost7']}}"><br></td>
        <td><select name="category7" id="category7">
          {% if data['category7'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category7'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">8</th>
        <td><input type="text" name="date8" id="date8" placeholder="" value="{{data['date8']}}"><br></td>
        <td><input type="text" name="purchase8" id="purchase8" placeholder="" value="{{data['purchase8']}}"><br></td>
        <td><input type="text" name="cost8" id="cost8" placeholder="" value="{{data['cost8']}}"><br></td>
        <td><select name="category8" id="category8">
          {% if data['category8'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category8'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">9</th>
        <td><input type="text" name="date9" id="date9" placeholder="" value="{{data['date9']}}"><br></td>
        <td><input type="text" name="purchase9" id="purchase9" placeholder="" value="{{data['purchase9']}}"><br></td>
        <td><input type="text" name="cost9" id="cost9" placeholder="" value="{{data['cost9']}}"><br></td>
        <td><select name="category9" id="category9">
          {% if data['category9'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category9'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">10</th>
        <td><input type="text" name="date10" id="date10" placeholder="" value="{{data['date10']}}"><br></td>
        <td><input type="text" name="purchase10" id="purchase10" placeholder="" value="{{data['purchase10']}}"><br></td>
        <td><input type="text" name="cost10" id="cost10" placeholder="" value="{{data['cost10']}}"><br></td>
        <td><select name="category10" id="category10">
          {% if data['category10'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category10'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">11</th>
        <td><input type="text" name="date11" id="date11" placeholder="" value="{{data['date11']}}"><br></td>
        <td><input type="text" name="purchase11" id="purchase11" placeholder="" value="{{data['purchase11']}}"><br></td>
        <td><input type="text" name="cost11" id="cost11" placeholder="" value="{{data['cost11']}}"><br></td>
        <td><select name="category11" id="category11">
          {% if data['category11'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category11'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">12</th>
        <td><input type="text" name="date12" id="date12" placeholder="" value="{{data['date12']}}"><br></td>
        <td><input type="text" name="purchase12" id="purchase12" placeholder="" value="{{data['purchase12']}}"><br></td>
        <td><input type="text" name="cost12" id="cost12" placeholder="" value="{{data['cost12']}}"><br></td>
        <td><select name="category12" id="category12">
          {% if data['category12'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category12'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">13</th>
        <td><input type="text" name="date13" id="date13" placeholder="" value="{{data['date13']}}"><br></td>
        <td><input type="text" name="purchase13" id="purchase13" placeholder="" value="{{data['purchase13']}}"><br></td>
        <td><input type="text" name="cost13" id="cost13" placeholder="" value="{{data['cost13']}}"><br></td>
        <td><select name="category13" id="category13">
          {% if data['category13'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category13'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">14</th>
        <td><input type="text" name="date14" id="date14" placeholder="" value="{{data['date14']}}"><br></td>
        <td><input type="text" name="purchase14" id="purchase14" placeholder="" value="{{data['purchase14']}}"><br></td>
        <td><input type="text" name="cost14" id="cost14" placeholder="" value="{{data['cost14']}}"><br></td>
        <td><select name="category14" id="category14">
          {% if data['category14'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category14'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">15</th>
        <td><input type="text" name="date15" id="date15" placeholder="" value="{{data['date15']}}"><br></td>
        <td><input type="text" name="purchase15" id="purchase15" placeholder="" value="{{data['purchase15']}}"><br></td>
        <td><input type="text" name="cost15" id="cost15" placeholder="" value="{{data['cost15']}}"><br></td>
        <td><select name="category15" id="category15">
          {% if data['category15'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category15'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">16</th>
        <td><input type="text" name="date16" id="date16" placeholder="" value="{{data['date16']}}"><br></td>
        <td><input type="text" name="purchase16" id="purchase16" placeholder="" value="{{data['purchase16']}}"><br></td>
        <td><input type="text" name="cost16" id="cost16" placeholder="" value="{{data['cost16']}}"><br></td>
        <td><select name="category16" id="category16">
          {% if data['category16'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category16'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">17</th>
        <td><input type="text" name="date17" id="date17" placeholder="" value="{{data['date17']}}"><br></td>
        <td><input type="text" name="purchase17" id="purchase17" placeholder="" value="{{data['purchase17']}}"><br></td>
        <td><input type="text" name="cost17" id="cost17" placeholder="" value="{{data['cost17']}}"><br></td>
        <td><select name="category17" id="category17">
          {% if data['category17'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category17'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">18</th>
        <td><input type="text" name="date18" id="date18" placeholder="" value="{{data['date18']}}"><br></td>
        <td><input type="text" name="purchase18" id="purchase18" placeholder="" value="{{data['purchase18']}}"><br></td>
        <td><input type="text" name="cost18" id="cost18" placeholder="" value="{{data['cost18']}}"><br></td>
        <td><select name="category18" id="category18">
          {% if data['category18'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category18'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">19</th>
        <td><input type="text" name="date19" id="date19" placeholder="" value="{{data['date19']}}"><br></td>
        <td><input type="text" name="purchase19" id="purchase19" placeholder="" value="{{data['purchase19']}}"><br></td>
        <td><input type="text" name="cost19" id="cost19" placeholder="" value="{{data['cost19']}}"><br></td>
        <td><select name="category19" id="category19">
          {% if data['category19'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category19'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">20</th>
        <td><input type="text" name="date20" id="date20" placeholder="" value="{{data['date20']}}"><br></td>
        <td><input type="text" name="purchase20" id="purchase20" placeholder="" value="{{data['purchase20']}}"><br></td>
        <td><input type="text" name="cost20" id="cost20" placeholder="" value="{{data['cost20']}}"><br></td>
        <td><select name="category20" id="category20">
          {% if data['category20'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category20'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">21</th>
        <td><input type="text" name="date21" id="date21" placeholder="" value="{{data['date21']}}"><br></td>
        <td><input type="text" name="purchase21" id="purchase21" placeholder="" value="{{data['purchase21']}}"><br></td>
        <td><input type="text" name="cost21" id="cost21" placeholder="" value="{{data['cost21']}}"><br></td>
        <td><select name="category21" id="category21">
          {% if data['category21'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category21'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">22</th>
        <td><input type="text" name="date22" id="date22" placeholder="" value="{{data['date22']}}"><br></td>
        <td><input type="text" name="purchase22" id="purchase22" placeholder="" value="{{data['purchase22']}}"><br></td>
        <td><input type="text" name="cost22" id="cost22" placeholder="" value="{{data['cost22']}}"><br></td>
        <td><select name="category22" id="category22">
          {% if data['category22'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category22'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">23</th>
        <td><input type="text" name="date23" id="date23" placeholder="" value="{{data['date23']}}"><br></td>
        <td><input type="text" name="purchase23" id="purchase23" placeholder="" value="{{data['purchase23']}}"><br></td>
        <td><input type="text" name="cost23" id="cost23" placeholder="" value="{{data['cost23']}}"><br></td>
        <td><select name="category23" id="category23">
          {% if data['category23'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category23'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">24</th>
        <td><input type="text" name="date24" id="date24" placeholder="" value="{{data['date24']}}"><br></td>
        <td><input type="text" name="purchase24" id="purchase24" placeholder="" value="{{data['purchase24']}}"><br></td>
        <td><input type="text" name="cost24" id="cost24" placeholder="" value="{{data['cost24']}}"><br></td>
        <td><select name="category24" id="category24">
          {% if data['category24'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category24'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>


          <tr>
        <th scope="row">25</th>
        <td><input type="text" name="date25" id="date25" placeholder="" value="{{data['date25']}}"><br></td>
        <td><input type="text" name="purchase25" id="purchase25" placeholder="" value="{{data['purchase25']}}"><br></td>
        <td><input type="text" name="cost25" id="cost25" placeholder="" value="{{data['cost25']}}"><br></td>
        <td><select name="category25" id="category25">
          {% if data['category25'] == 'need' %}
            <option value="need" selected>Need</option>
          {% else %}
            <option value="need">Need</option>
          {% endif %}
          {% if data['category25'] == 'need' %}
            <option value="want">Want</option>
          {% else %}
            <option value="want" selected>Want</option>
          {% endif %}
            </select>
        </td>
      </tr>
  </tbody>

</table>
<button type="submit" class="btn btn-success", value="Submit">Save Changes</button>
<h3>Write Your Wishlist of Items Here</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Purchase</th>
        <th scope="col">Cost</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th scope="row">1</th>

          <td><input type="text" name="purchase1b" id="purchase1b" placeholder="" value="{{data['purchase1b']}}"><br></td>
          <td><input type="text" name="cost1b" id="cost1b" placeholder="" value="{{data['cost1b']}}"><br></td>
          <td><select name="category1b" id="category1">
            {% if data['category1b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category1b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">2</th>

          <td><input type="text" name="purchase2b" id="purchase2b" placeholder="" value="{{data['purchase2b']}}"><br></td>
          <td><input type="text" name="cost2b" id="cost2b" placeholder="" value="{{data['cost2b']}}"><br></td>
          <td><select name="category2b" id="category2">
            {% if data['category2b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category2b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">3</th>

          <td><input type="text" name="purchase3b" id="purchase3b" placeholder="" value="{{data['purchase3b']}}"><br></td>
          <td><input type="text" name="cost3b" id="cost3b" placeholder="" value="{{data['cost3b']}}"><br></td>
          <td><select name="category3b" id="category3">
            {% if data['category3b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category3b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">4</th>

          <td><input type="text" name="purchase4b" id="purchase4b" placeholder="" value="{{data['purchase4b']}}"><br></td>
          <td><input type="text" name="cost4b" id="cost4b" placeholder="" value="{{data['cost4b']}}"><br></td>
          <td><select name="category4b" id="category4">
            {% if data['category4b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category4b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">5</th>

          <td><input type="text" name="purchase5b" id="purchase5b" placeholder="" value="{{data['purchase5b']}}"><br></td>
          <td><input type="text" name="cost5b" id="cost5b" placeholder="" value="{{data['cost5b']}}"><br></td>
          <td><select name="category5b" id="category5">
            {% if data['category5b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category5b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">6</th>

          <td><input type="text" name="purchase6b" id="purchase6b" placeholder="" value="{{data['purchase6b']}}"><br></td>
          <td><input type="text" name="cost6b" id="cost6b" placeholder="" value="{{data['cost6b']}}"><br></td>
          <td><select name="category6b" id="category6">
            {% if data['category6b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category6b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">7</th>

          <td><input type="text" name="purchase7b" id="purchase7b" placeholder="" value="{{data['purchase7b']}}"><br></td>
          <td><input type="text" name="cost7b" id="cost7b" placeholder="" value="{{data['cost7b']}}"><br></td>
          <td><select name="category7b" id="category7">
            {% if data['category7b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category7b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">8</th>

          <td><input type="text" name="purchase8b" id="purchase8b" placeholder="" value="{{data['purchase8b']}}"><br></td>
          <td><input type="text" name="cost8b" id="cost8b" placeholder="" value="{{data['cost8b']}}"><br></td>
          <td><select name="category8b" id="category8">
            {% if data['category8b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category8b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">9</th>

          <td><input type="text" name="purchase9b" id="purchase9b" placeholder="" value="{{data['purchase9b']}}"><br></td>
          <td><input type="text" name="cost9b" id="cost9b" placeholder="" value="{{data['cost9b']}}"><br></td>
          <td><select name="category9b" id="category9">
            {% if data['category9b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category9b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">10</th>

          <td><input type="text" name="purchase10b" id="purchase10b" placeholder="" value="{{data['purchase10b']}}"><br></td>
          <td><input type="text" name="cost10b" id="cost10b" placeholder="" value="{{data['cost10b']}}"><br></td>
          <td><select name="category10b" id="category10">
            {% if data['category10b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category10b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">11</th>

          <td><input type="text" name="purchase11b" id="purchase11b" placeholder="" value="{{data['purchase11b']}}"><br></td>
          <td><input type="text" name="cost11b" id="cost11b" placeholder="" value="{{data['cost11b']}}"><br></td>
          <td><select name="category11b" id="category11">
            {% if data['category11b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category11b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">12</th>

          <td><input type="text" name="purchase12b" id="purchase12b" placeholder="" value="{{data['purchase12b']}}"><br></td>
          <td><input type="text" name="cost12b" id="cost12b" placeholder="" value="{{data['cost12b']}}"><br></td>
          <td><select name="category12b" id="category12">
            {% if data['category12b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category12b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">13</th>

          <td><input type="text" name="purchase13b" id="purchase13b" placeholder="" value="{{data['purchase13b']}}"><br></td>
          <td><input type="text" name="cost13b" id="cost13b" placeholder="" value="{{data['cost13b']}}"><br></td>
          <td><select name="category13b" id="category13">
            {% if data['category13b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category13b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">14</th>

          <td><input type="text" name="purchase14b" id="purchase14b" placeholder="" value="{{data['purchase14b']}}"><br></td>
          <td><input type="text" name="cost14b" id="cost14b" placeholder="" value="{{data['cost14b']}}"><br></td>
          <td><select name="category14b" id="category14">
            {% if data['category14b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category14b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">15</th>

          <td><input type="text" name="purchase15b" id="purchase15b" placeholder="" value="{{data['purchase15b']}}"><br></td>
          <td><input type="text" name="cost15b" id="cost15b" placeholder="" value="{{data['cost15b']}}"><br></td>
          <td><select name="category15b" id="category15">
            {% if data['category15b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category15b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">16</th>

          <td><input type="text" name="purchase16b" id="purchase16b" placeholder="" value="{{data['purchase16b']}}"><br></td>
          <td><input type="text" name="cost16b" id="cost16b" placeholder="" value="{{data['cost16b']}}"><br></td>
          <td><select name="category16b" id="category16">
            {% if data['category16b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category16b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">17</th>

          <td><input type="text" name="purchase17b" id="purchase17b" placeholder="" value="{{data['purchase17b']}}"><br></td>
          <td><input type="text" name="cost17b" id="cost17b" placeholder="" value="{{data['cost17b']}}"><br></td>
          <td><select name="category17b" id="category17">
            {% if data['category17b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category17b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">18</th>

          <td><input type="text" name="purchase18b" id="purchase18b" placeholder="" value="{{data['purchase18b']}}"><br></td>
          <td><input type="text" name="cost18b" id="cost18b" placeholder="" value="{{data['cost18b']}}"><br></td>
          <td><select name="category18b" id="category18">
            {% if data['category18b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category18b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">19</th>

          <td><input type="text" name="purchase19b" id="purchase19b" placeholder="" value="{{data['purchase19b']}}"><br></td>
          <td><input type="text" name="cost19b" id="cost19b" placeholder="" value="{{data['cost19b']}}"><br></td>
          <td><select name="category19b" id="category19">
            {% if data['category19b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category19b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">20</th>

          <td><input type="text" name="purchase20b" id="purchase20b" placeholder="" value="{{data['purchase20b']}}"><br></td>
          <td><input type="text" name="cost20b" id="cost20b" placeholder="" value="{{data['cost20b']}}"><br></td>
          <td><select name="category20b" id="category20">
            {% if data['category20b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category20b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">21</th>

          <td><input type="text" name="purchase21b" id="purchase21b" placeholder="" value="{{data['purchase21b']}}"><br></td>
          <td><input type="text" name="cost21b" id="cost21b" placeholder="" value="{{data['cost21b']}}"><br></td>
          <td><select name="category21b" id="category21">
            {% if data['category21b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category21b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">22</th>

          <td><input type="text" name="purchase22b" id="purchase22b" placeholder="" value="{{data['purchase22b']}}"><br></td>
          <td><input type="text" name="cost22b" id="cost22b" placeholder="" value="{{data['cost22b']}}"><br></td>
          <td><select name="category22b" id="category22">
            {% if data['category22b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category22b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">23</th>

          <td><input type="text" name="purchase23b" id="purchase23b" placeholder="" value="{{data['purchase23b']}}"><br></td>
          <td><input type="text" name="cost23b" id="cost23b" placeholder="" value="{{data['cost23b']}}"><br></td>
          <td><select name="category23b" id="category23">
            {% if data['category23b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category23b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">24</th>

          <td><input type="text" name="purchase24b" id="purchase24b" placeholder="" value="{{data['purchase24b']}}"><br></td>
          <td><input type="text" name="cost24b" id="cost24b" placeholder="" value="{{data['cost24b']}}"><br></td>
          <td><select name="category24b" id="category24">
            {% if data['category24b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category24b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>


            <tr>
          <th scope="row">25</th>

          <td><input type="text" name="purchase25b" id="purchase25b" placeholder="" value="{{data['purchase25b']}}"><br></td>
          <td><input type="text" name="cost25b" id="cost25b" placeholder="" value="{{data['cost25b']}}"><br></td>
          <td><select name="category25b" id="category25">
            {% if data['category25b'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if data['category25b'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
    </tbody>

  </table>
  <button type="submit" class="btn btn-success", value="Submit">Save Changes</button>
</form>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->






</body>
</html>
