<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Setup</h2>
  <form>
    <label for="salary">Monthly Net Earnings:</label>
    <input type="text" name="salary" id="salary" value="{{setup['earnings']}}"><br>
    <p>Next fill in what purchases always occur each month:</p>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Monthly Purchase</th>
          <th scope="col">Cost</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><input type="text" name="purchase1" id="purchase1" placeholder="Rent" value="{{setup['purchase1']}}"><br></td>
          <td><input type="text" name="cost1" id="cost1" placeholder="500" value="{{setup['cost1']}}"><br></td>
          <td><select name="category1" id="category1">
            {% if setup['category1'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category1'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><input type="text" name="purchase2" id="purchase2" placeholder="Rent" value="{{setup['purchase2']}}"><br></td>
          <td><input type="text" name="cost2" id="cost2" placeholder="500" value="{{setup['cost2']}}"><br></td>
          <td><select name="category2" id="category2">
            {% if setup['category2'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category2'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><input type="text" name="purchase3" id="purchase3" placeholder="Rent" value="{{setup['purchase3']}}"><br></td>
          <td><input type="text" name="cost3" id="cost3" placeholder="500" value="{{setup['cost3']}}"><br></td>
          <td><select name="category3" id="category3">
            {% if setup['category3'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category3'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><input type="text" name="purchase4" id="purchase4" placeholder="Rent" value="{{setup['purchase4']}}"><br></td>
          <td><input type="text" name="cost4" id="cost4" placeholder="500" value="{{setup['cost4']}}"><br></td>
          <td><select name="category4" id="category4">
            {% if setup['category4'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category4'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><input type="text" name="purchase5" id="purchase5" placeholder="Rent" value="{{setup['purchase5']}}"><br></td>
          <td><input type="text" name="cost5" id="cost5" placeholder="500" value="{{setup['cost5']}}"><br></td>
          <td><select name="category5" id="category5">
            {% if setup['category5'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category5'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><input type="text" name="purchase6" id="purchase6" placeholder="Rent" value="{{setup['purchase6']}}"><br></td>
          <td><input type="text" name="cost6" id="cost6" placeholder="500" value="{{setup['cost6']}}"><br></td>
          <td><select name="category6" id="category6">
            {% if setup['category6'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category6'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td><input type="text" name="purchase7" id="purchase7" placeholder="Rent" value="{{setup['purchase7']}}"><br></td>
          <td><input type="text" name="cost7" id="cost7" placeholder="500" value="{{setup['cost7']}}"><br></td>
          <td><select name="category7" id="category7">
            {% if setup['category7'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category7'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td><input type="text" name="purchase8" id="purchase8" placeholder="Rent" value="{{setup['purchase8']}}"><br></td>
          <td><input type="text" name="cost8" id="cost8" placeholder="500" value="{{setup['cost8']}}"><br></td>
          <td><select name="category8" id="category8">
            {% if setup['category8'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category8'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td><input type="text" name="purchase9" id="purchase9" placeholder="Rent" value="{{setup['purchase9']}}"><br></td>
          <td><input type="text" name="cost9" id="cost9" placeholder="500" value="{{setup['cost9']}}"><br></td>
          <td><select name="category9" id="category9">
            {% if setup['category9'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category9'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td><input type="text" name="purchase10" id="purchase10" placeholder="Rent" value="{{setup['purchase10']}}"><br></td>
          <td><input type="text" name="cost10" id="cost10" placeholder="500" value="{{setup['cost10']}}"><br></td>
          <td><select name="category10" id="category10">
            {% if setup['category10'] == 'need' %}
              <option value="need" selected>Need</option>
            {% else %}
              <option value="need">Need</option>
            {% endif %}
            {% if setup['category10'] == 'need' %}
              <option value="want">Want</option>
            {% else %}
              <option value="want" selected>Want</option>
            {% endif %}
              </select>
          </td>
        </tr>        
      </tbody>
    </table>

    <button type="button" class="btn btn-info">Calculate how much remains.</button><br>
    <label for="saving">How much do you want to save?</label>
    <input type="text" name="saving" id="saving"><br>
    <button type="button" class="btn btn-success">Save Setup</button>


  </form>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
